.container-home {
     /* Importante: para que los elementos posicionados se ajusten a este contenedor */
    align-items: center;
    justify-content: center; /* Para que el contenedor no tenga más ancho que la imagen */
    position: relative; /* Importante: para que los elementos posicionados se ajusten a este contenedor */
    display: flex;
    width: 100%;
    height: 99vh;
    background-color: #000;
  }
  
  .img-1{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.6;
  }
  body, div {
    margin: 0 !important;
    padding: 0 !important;
  }

.btn-50 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  position: absolute !important;
  bottom: 0 !important;
  left: 50% !important; 
  transform: translateX(-50%) !important; 
  margin-bottom: 37px;
  opacity: 80%;
}

.btn-50 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px 2px #eee;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 20px 60px;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  transform: rotateX(32deg);
  transform-style: preserve-3d;
  transition: transform 0.2s;
}
