@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container-inv {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
  .img-2 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    animation: opacityAnimation 2s infinite alternate;
    opacity: 0.8;
  }
  @keyframes opacityAnimation {
    0%, 100% {
      opacity: 0.8;
    }
    10%, 90% {
      opacity: 0.82;
    }
    20%, 80% {
      opacity: 0.84;
    }
    30%, 70% {
      opacity: 0.86;
    }
    40%, 60% {
      opacity: 0.88;
    }
    50% {
      opacity: 0.90;
    }
  }
  p {
    text-align: center;
    width: 100%;
    color: black;
    font-size: calc(13px + 0.1 * ((100vw - 455px) / 12));
    font-weight: 700;
    margin: 0.2rem;
    position: relative;
    font-family: 'Dancing Script', cursive;
   }
   .container-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px !important;
    position: fixed;
    width: 65%;
}
  body, div {
    margin: 0 !important;
    padding: 0 !important;
  }

  .wrapper{
    width: fit-content;
    height:auto;
}
button {
  width: 50vw;
  height: 7vh;
  background: linear-gradient(to left top, #8c8b8a 50%, #dad8d9 58%);
  border-style: none;
  color: black;
  font-size: 4vw;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  margin-top: 10px;
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), black);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), black);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), black);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), black);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}
