@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.container-inv {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
  .img-2 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    animation: opacityAnimation 2s infinite alternate;
    opacity: 0.4;
  }
  @keyframes opacityAnimation {
    0%, 100% {
      opacity: 0.4;
    }
    10%, 90% {
      opacity: 0.42;
    }
    20%, 80% {
      opacity: 0.44;
    }
    30%, 70% {
      opacity: 0.46;
    }
    40%, 60% {
      opacity: 0.48;
    }
    50% {
      opacity: 0.5;
    }
  }
  p {
    text-align: center;
    width: 72%;
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin: 0.4rem;
    position: relative;
    font-family: 'Dancing Script', cursive;
   }
   .container-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px !important;
}
  body, div {
    margin: 0 !important;
    padding: 0 !important;
  }